@font-face{
  font-family: Roboto Condensed;
  src: url('../assets/fonts/RobotoCondensed-Regular.ttf');

  font-family: Thinking;
  src: url('../assets/fonts/Thinking_of_Betty.ttf');
}

:root{
  --color-text: #4b4a4a  !important;
}

body{
	background-image: url('../assets/fundo/icone_bg.jpg');
	background-repeat: repeat;
	font-size: 15pt !important;
	font-family: 'Roboto Condensed', sans-serif !important;
	color: var(--color-text) !important;
	font-weight: 350 !important;
}
/* Cabecalho */

#logo-main{
	margin:-13px auto;
	width: 100%;
	z-index: 3;
}

.container{
	background-color: #fff;
	box-shadow: 0 2px 20px 0 rgba(75, 75, 75, 0.1) !important ;
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.container-reveso{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.navbar-nav{
	margin-top: 0px;
	/* color: var(--color-text); */
	color: #000000 !important;
	font-size: 15pt;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 110%;
	z-index: 3;
	
}
.topo-banner{
	width: 100%;
	padding: 0px !important;
	
}
.custom-nav a{
	padding: 2px 20px !important;
	transition: 0.2s;	
	border-bottom: 3px solid #F1D72C;
	z-index: 3;
}
.custom-nav a:hover{
	color: #265E92;
	border-bottom: 3px solid #265E92;
	transition: 0.2s;
	z-index: 3;
}

/* Conteudo */
.titulo-principal{
	margin-top: 60px;
	font-family: Thinking;
	color: #125b9f;
	font-size: 30pt;
	padding-bottom: 25px;

  }
.conteudo{
	color: var(--color-text);
	font-weight: 350;
	
}
/* Video */

.iframe-container{
	padding-top: 30px;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
  }
  .iframe-container iframe{
	position: absolute;
	margin-left: 10%;
	width: 80%;
	height: 80%;
	
  }


/* Rodape */
.footer-custom{
  margin: auto;

}
.rede-social{
  margin-top: 5px !important;
  border-left: 0;
  margin-left: 0px;
  font-size: 12pt;
}
.icone-social img {
  display: block;
  text-align: center;
  margin: auto;
}
.rodape{
	background-color: #125b9f;
	padding: 5px;
}
.logo-rodape{
	display: inline-block;
	top: -21px;
	vertical-align: middle;
	position: relative;
}

.rede-social{
	margin-top: 21px;
	text-align: center;
	display: inline-block;
	border-left: 1px solid white;
	margin-left: 50px;
}

.icone-social img{
	display: inline-block;
	margin-left: 15px;
}

.icone-social p{
	display: inline-block;
	color: white;
	padding-left: 7px;
}

.social{
	color: white;
	display: block;
}


@media (max-width:600px){
	#logo-main img{
		width: 100%;
		
	}
	.iframe-container iframe{
		margin-left: 0%;
		width: 100%;
		height: 100%;
		padding-bottom: 40px;

	  }
	
	.footer-custom{
		padding-top: 35px;
		margin-right: 25px;
		height: 200px;
	}
	.titulo-principal{
		text-align: center;
	  }

}
 
@media screen and (max-width: 992px) {

	.navbar-nav{
		font-size: 12pt;
		padding-top: 0px;
		margin: auto;
		width: 600px;
		
	}
	.custom-nav a{
		/* border-bottom: 3px solid #024a64; */
		border-bottom: 3px solid #F1D72C;
		
	}



}
